#board {
  //border: 0.3rem solid;
  display: grid;
  flex-grow: 1;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  justify-items: center;
  padding: 3rem 2rem;
  p {
  	text-align: center;
  }
  #board-info {
    max-height: 19rem;
    padding: 0.2rem;
    width: 11.5rem;
    h3 {
      font-size: 1rem;
      text-align: center;
    }
  }
}
