#card-wrapper {
	background-color: transparent;
	margin: 2rem;
	margin-top: 3rem;
	#card { 
		box-shadow: 0 0 0.3rem;
		min-height: 35rem;
		margin: 0 auto;
		position: relative;
		text-align: center;
		transform-style: preserve-3d;
		transition: transform 0.8s;  		
		width: 90%;	
		&:hover {
			transform: rotateY(180deg);
		}
		#about, #front {
			align-items: center;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			display: flex;		
			height: 100%;	
			padding: 0.5rem 2rem;
			position: absolute;
			text-align: center;
			h2 {
				margin: 0;
			}
		}	
		#about {
			flex-direction: column; 
			justify-content: center;	
			transform: rotateY(180deg);
			h2 {
				margin: 0;
			}
			p {
				margin: 0.4rem;
				img {
					display: inline;
					height: 1.5rem;
					line-height: 1rem;
					padding: 0;
					width: 3rem;
				}
			}
			a {
				margin-top: 1rem;
				overflow-wrap: normal;
				transition: all 0.5s ease;
			}
		}
		#front {
			flex-flow: row wrap;
			justify-content: space-around;
			padding: 0;
			width: 100%;
			img {
				border-radius: 20rem;
				max-width: 50%;
			}
		}
	}
	@media screen and (max-width: 950px) {
		#about {
			font-size: 0.8rem;
		}
	}
	@media screen and (max-width: 610px) {
		#card {
			position: static;
			transform: none;	
			&:hover {
				transform: none;
			}		
			#card-title {
				font-size: 1rem;
			}
			#about, #front {
				align-self: center;
				margin-right: 0;
				position: static;
				transform: none;
			}
		}
	}
}