.pin {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: initial;
  box-shadow: 0 0 0.6rem grey;
  height: 17em;
  padding: 1rem;
  position: relative;
  transition: all 0.5s ease;
  width: 10em;  
  .top {
    height: 7rem;
    .pin-title {
      background-color: rgba(255, 255, 255, 0.7);
      font-size: 1em;
      font-weight: bold; 
      margin: 0;
      overflow-wrap: anywhere;
      padding: 0.5rem;    
      text-align: center;   
    }
    .overlay {
      background-color: rgba(255, 255, 255, 0.8);
      display: none;
      font-size: 0.8rem;
      padding: 0.5rem 0; 
      text-align: center;
      a {
        color: inherit;
        display: block;
        text-decoration: none;
      } //a
    } //.overlay
  }
  .stack {
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    img {
      height: 1rem;
      margin: 0 0.2rem;
    }
  }
  &:hover {
    box-shadow: none;
    width: 12rem;
    .overlay {
      display: block;
    }
  }
} //.pin