@import url('https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&family=Raleway:wght@300&display=swap&family=Inria+Serif:wght@300&display=swap');

$title-font: 'Inria Serif', serif;
$main-font: 'Raleway', sans-serif;

$background-color: white; 
$lightest: rgb(216, 219, 226);
$main-font-color: rgba(33, 44, 64, 1);
$borders-and-nav: rgb(142, 163, 190);

html {
	scroll-behavior: smooth;
}

body {
	background-color: $background-color;
	box-sizing: border-box;
	color: $main-font-color;
	font-family: $main-font;
	font-size: 16px;
	height: 100%;
	letter-spacing: 0.1rem;
	margin: 0;	
	overflow-x: hidden;
	padding: 0;
	width: 100%;	
}

button {
	border-color: $borders-and-nav;
}

a, button {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	outline: none;
	transition: all 0.3s ease;
	&:hover, &:active {
		opacity: 0.7;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $title-font;
	font-size: 2rem;
	font-weight: bold;
}

article {
	aside {
		background-color: $lightest;
		img {
			margin: 0.2rem;
			position: relative;
			width: 2rem;
			&:hover {
				bottom: 0.3rem;
			}
		}
	}
}

footer {
	border-color: $lightest;
}

#navbar {
  background-color: rgba(33, 44, 64, 0.8); 
  color: $lightest;
}

#card-wrapper {
	#card {
	}
}

#board {
	background-color: $lightest;
	border-color: $borders-and-nav;
	.pin {
		background-color: $background-color;
	}
}

