#navbar {
  align-items: center;
  display: flex;
  flex-direction: row; 
  font-size: 1.1rem;
  justify-content: center;
  margin: 0;
  padding: 0.3rem 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  a {
    color: inherit;
    margin-left: 1rem;
    text-decoration: none;
    &:hover, &:active, &:focus {
      border-bottom: 0.1rem dashed;
    }
  }  
}